@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');

@media (min-width:1200px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'NanumSquareLight';
    font-family: 'NanumSquare';
    font-family: 'NanumSquareBold';
    font-family: 'NanumSquareExtraBold';
    font-family: 'NanumSquareAcb';
    font-family: 'NanumSquareAceb';
    font-family: 'NanumSquareAcl';
    font-family: 'NanumSquareAcr';
  }

  #wrap {
    width: 100%;
    height: auto;

    /* background-color:#skyblue; */
  }

  /* 헤더**START ======================================== */

  header {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  #head_box {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    position: fixed;
    background-color: #e4002b;
    box-sizing: border-box;
    padding:0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.8;
    z-index: 5;
  }

  .top_box {
    width: 100px;
    /* height: 60px; */
    display: flex;
    justify-content:space-between;
    /* background-color: #e4002b; */
    /* background-color: gold; */
  }

  .top_box>.logo_box>a>img {
    width: 50px;
  }

  .top_box>.logo_box>a {
    text-decoration: none;
    color: #fff;
  }

  .ham_icon {
    width: 40px;
    height: 40px;
    display: none;
    /*햄버거 아이콘 가리기*/
  }

  .menu>ul {
    width: 800px;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }

  .menu>ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    box-sizing: border-box;
    line-height: 60px;
    padding: 0px 20px;
    
  }

  .menu>ul li:hover {
    background-color: #fff;
    color: #e4002b;
    cursor: pointer;
  }

  .menu>ul li:hover>a {
    color: #222222;
  }

  /* ======================================== 헤더**END*/


  /* 영상**START ======================================== */

  #slider {
    width: 100%;
    height: 750px;
    position: relative;
    top: 0px;
  }

  #slider>.main_bg_box>.mp4 {
    width: 100%;
    height: 750px;
    overflow: hidden;
    margin: 0px 0 30px 0;
    z-index: -5;
  }

  video {
    width: 100%;
    /* object-fit: cover; */

  }

  #slider>.main_bg_box>.text {
    width: 100%;
    height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #slider>.main_bg_box>.text>h1 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    font-family: 'Chakra Petch', sans-serif;
    opacity: 0.8;
    /* font-family: 'Times New Roman', Times, serif; */
    /*수정 필요*/
    color: rgb(255, 255, 255);
  }

  #slider>.main_bg_box>.text>a {
    text-decoration: none;
    color: #fff;
  }

  #slider>.main_bg_box>.text>a>.bt {
    width: 195px;
    padding: 13px 0 10px 0;
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    border: 3px solid #fff;
    border-radius: 40px;
    transition: 0.2s;
  }

  #slider>.main_bg_box>.text>a>.bt:hover {
    cursor: pointer;
    background-color: #fff;
    color: #333;
    opacity: 1;
  }

  #slider>.main_bg_box>.text>.bt>a {
    text-decoration: none;
    color: #fff;
  }

  /* ======================================== 영상**END */



  /* 텍스트 콘텐츠**START ============================== */
  .content {
    width: 100%;
    height: 460px;
    margin: 10px auto;
    /* background: pink; */
  }

  .hidden {
    display: none;
  }

  .content>h1 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bolder;
  }

  .content>h3 {
    font-size: 17px;
  }

  .content>.p_text {
    display: flex;
    border-top: 1px solid #555;
    /* background-color:gold; */
    padding: 30px 0;
  }

  .content>.p_text>h3 {
    width: 20%;
    font-size: 25px;
    font-weight: 900;
    margin-top: 10px;
    background-color: #e4002b;
  }

  .content>.p_text>p {
    width: 80%;
    font-size: 17px;
    line-height: 30px;
  }

  .content>.img_wrap {
    width: 93%;
    height: 400px;
    margin:0 auto;    
    display: flex;
    justify-content: space-between;
  }

  .p_text>h3 {
    font-size: 20px;
    line-height: 27px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  .p_text>h3>a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
  }

  .p_text>h3>a:hover {
    text-decoration: underline;
    color: #e4002b;
  }

  .p_text>p {
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
  }

  .content>.img_wrap>.photo_box {
    width: 32%;
    height: 100%;    
    /* background-color: gold; */
  }

  .content>.img_wrap>.photo_box>.photo {
    width: 100%;
    height: 70%;
    /* background-color: #d174dd; */
    overflow: hidden;
  }

  .content>.img_wrap>.photo_box>.photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }


  .content>.img_wrap>.photo_box>.photo>img:hover {
    opacity: 0.7;
    transform: scale(1.02);
  }



  .content>.img_wrap>.photo_box>.p_text {
    width: 100%;
    height: 30%;
    padding-top: 20px;
    box-sizing: border-box;
    /* background-color:gold; */
  }


  /* ============================== 텍스트 콘텐츠**END*/

  /* 본문 h1 제어 */
  .title_h1 {
    width: 95%;
    margin: 30px auto 10px;
    font-size: 25px;
    color: #313131;
    font-weight: 800;
    padding: 20px;
  }

  .pbox {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .pbox p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;
    padding: 3px;
  }

  .underline a {
    /* background-color: gold; */
    text-decoration: none;
    color: #333;
    transition: 0.3s;
  }

  .underline a:hover {
    text-decoration: underline;
    color: #e4002b;
  }

  .material-symbols-outlined {
    vertical-align: middle;
    line-height: 23px;
  }


  .light_content {
    width: 95%;
    height: 800px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .light_content>.content {
    width: 100%;
    height: 750px;
    background-color: #fff;
    margin: 0;
    padding: 10px;
    box-sizing:border-box;
  }

  .light_content>.content>.photo {
    width: 100%;
    height: 68%;
    overflow: hidden;
    /* background-color: gray; */
  }

  .light_content>.content>.photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
  }

  .light_content>.content>.photo>img:hover {
    transform: scale(1.02);
    opacity: 0.9;
  }

  .light_content>.content>.text {
    width: 100%;
    height: 32%;
    /* background-color: #cca9a9; */
    box-sizing: border-box;
  }

  .light_content>.content>.text>h2 {
    font-size: 23px;
    font-weight: 900;
    padding: 20px 0;
    /* background-color: skyblue; */
  }

  .light_content>.content>.text>h2 a {
    text-decoration: none;
    color: #333;
    transition: 0.3s;
  }

  .light_content>.content>.text>h2 a:hover {
    text-decoration: underline;
    color: #e4002b;
  }

  .light_content>.content>.text>h4 {
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
    /* background-color: pink; */
  }

  .light_content>.content>.text>h5 {
    font-size: 14px;
    color: #333;
    margin: 15px 0;
    font-weight: bold;
    /* background-color: gold; */
  }

  .light_content>.content>.text>p {
    font-size: 14px;
    line-height: 30px;

    /* background-color: rgb(180, 238, 187); */
  }

  .light_content>.content>.text>p:before {
    content: url(../img/icon/arrow.gif);
    margin: 5px;
  }
  .light_content .bold {
    font-weight: 900;
  }

  /* 이미지 랩 START  ============================== */

  #middle_img_wrap {
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
    /* background-color: gold; */
  }

  #middle_img_wrap>.photo_box {
    width: 95%;
    height: 450px;
    box-sizing: border-box;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
  }

  #middle_img_wrap>.photo_box>.photo {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  #middle_img_wrap>.photo_box>.photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.7s;
  }

  #middle_img_wrap>.photo_box>.photo>img:hover {
    transform: scale(1.02);
  }

  #middle_img_wrap>.photo_box>.p_text {
    width: 50%;
    height: 35%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #middle_img_wrap>.photo_box>.p_text:nth-of-type(1n) {
    padding-left: 50px;
  }

  #middle_img_wrap>.photo_box>.p_text:nth-of-type(2n) {
    padding-right: 50px;    
  }

  #middle_img_wrap>.photo_box>.p_text>h2 {
    font-size: 33px;
    line-height: 40px;
    color: #333;
    font-weight: 900;
    margin-bottom: 20px;
  }

  #middle_img_wrap>.photo_box>.p_text>h4 {
    font-size: 17px;
    line-height: 25px;
    color: #333;
    margin-bottom: 20px;
    /* background-color: gold; */
  }

  #middle_img_wrap>.photo_box>.p_text>p {
    font-size: 14px;
    line-height: 18px;
  }

  #middle_img_wrap>.photo_box>.p_text>.underline {
    font-size: 17px;
    text-decoration: 2px underline;
    text-underline-offset: 10px;
  }

  #middle_img_wrap>.photo_box>.p_text>.underline:hover {
    color: #e4002b;
    cursor: pointer;
  }

  /* ============================== 이미지 랩 END */



  /* ============================== 어바웃 텍스트 START */

  hr {
    width: 95%;
    margin: 40px auto;
  }

  #text_slide {
    width: 95%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
  }

  #text_slide>.text {
    width: 100%;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border-top: 1px solid #555; */
    /* background-color: pink; */
  }

  #text_slide>.text>h1 {
    width: 100%;
    font-size: 25px;
    font-weight: 900;
    padding: 10px 0 40px 0;
  }

  #text_slide>.text>h1:nth-of-type(2) {
    padding-top: 30px;
  }

  #text_slide>.text>p {
    width: 100%;
    font-size: 17px;
    line-height: 35px;
  }

  .about_img {
    width: 50%;
    height: 100%;
  }

  .about_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* ============================== 어바웃 텍스트 END */


  /* know your START  ============================== */


  .know {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 160px;
    grid-gap: 20px;
    padding: 20px;
  }

  .know a {
    text-decoration: none;
    color: #333;
  }

  .know a:hover {
    cursor: pointer;
  }

  .know a:hover h3 {
    text-decoration: underline;
  }

  .know a:hover .icon_1 {
    transform: scale(1.02);
  }

  .icon_1 {
    height: 100%;
    display: flex;
    background-color: #fcfcfc;
    box-shadow: 2px 2px 2px #eee;
    transition: 0.2s;
    /* background-color: gold; */
  }

  .img {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: purple; */
  }

  .img img {
    object-fit: contain;
  }

  .icon_text {
    width: 70%;
    height: 100%;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  /* ============================== know your END */



  /* ============================== 인박스 START */

  .inbox {
    width: 100%;
    height: 80px;
    margin : 70px auto 0;
    color: #fff;
    text-align: center;
    background-color: #e4002b;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inbox>.text {
    width: 800px;
    height: 60%;
    background-color: gold;
  }

  .inbox h3 {
    font-size: 25px;
    margin-right: 10px;
  }

  .inbox_input {
    width: 800px;
    height: 60%;
    /* background-color: skyblue; */

  }

  .inbox_input input {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 7px;
  }

  .inbox_input input:focus {
    outline: 1px solid #fff;
  }



  /* ============================== 하단 START */

  footer {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    padding: 0 30px;
    border-top: 1px solid #dbdbdb;
    box-sizing: border-box;
    background-color: #333;
    font-weight: lighter;
    color: #e7e7e7;
    display: flex;
    align-items: center;
  }

  footer .footer_menu {
    width: 100%;
    height: 50px;
    font-size: 14px;
    padding-right:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #a866b1; */
  }

  footer ul {
    width: 60%;
    display: flex;
    /* background-color: #a866b1; */
  }

  footer ul li {
    margin-right: 25px;
  }

  footer ul li a {
    text-decoration: none;
    color: #e7e7e7;
  }

  .footgrid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .footgrid ul {
    margin-bottom: 50px;
    /* background-color: #d396a0; */
  }

  .footgrid h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    /* background-color: #a1d467; */
  }

  .gridcontainer {
    display: grid;
    grid-template-columns: 0.3fr 1.1fr repeat(3, 1fr);
    grid-template-rows: 300px 190px;
    font-size: 15px;
    /* background-color: gold; */
  }

  .gridcontainer a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 15px;
    font-weight: lighter;
  }

  .adress {
    font-size: 14px;
    line-height: 23px;
    font-weight: lighter;
  }

  .item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .item2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .item7 {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
  }

  .item1 {
    /* background-color: #d3a3a3; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 50px;
  }

  .item1 img {
    width: 40px;
  }

  .item2 h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    /* background-color: #a1d467; */
  }

  .item2 {
    /* background-color: #90a5d3; */
    box-sizing: border-box;
    padding: 50px 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }

  .item3 {
    background-color: #f2f2f2;
    padding: 50px 0 0 40px;
    display: flex;
    align-items: flex-start;
    border-right: 1px solid #dbdbdb;
  }

  .footgrid ul li {
    margin-bottom: 20px;
  }

  .item4 {
    background-color: #f2f2f2;
    padding: 50px 0 0 40px;
    display: flex;
    align-items: flex-start;
    border-right: 1px solid #dbdbdb;
  }

  .item5 {
    background-color: #f2f2f2;
    padding: 50px 0 0 40px;
    display: flex;
    align-items: flex-start;
    border-right: 1px solid #dbdbdb;
  }

  .item6 {
    background-color: #f2f2f2;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 30px;
    border-top: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
  }

  .item6 img {
    height: 15px;
    margin-right: 10px;
  }

  .item7 {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 30px;
    border-top: 1px solid #dbdbdb;
  }

  .item7 p {
    font-size: 13px;
    line-height: 15px;
    font-weight: lighter;
    margin-top: 5px;
  }

  .item7 button {
    width: 20%;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    display: inline-block;
    border-radius: 7px;
  }

  form {
    width: 100%;
  }

  .item7 input {
    width: 70%;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
  }

  .item7 input:focus {
    outline: 1px solid #fff;
  }

  .item7 img {
    height: 15px;
    vertical-align: text-bottom;
  }
}